@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap");

$watch-container-background: #e3edf7;
$body-background: #dce6f2;
$buttonActiveShadowEff: inset 6px 6px 9px 2px
        rgba(
            $color: #000000,
            $alpha: 0.15,
        ),
    inset -3px -3px 9px 1px
        rgba(
            $color: #ffffff,
            $alpha: 0.8,
        );

@mixin flex($just, $align, $dir: row) {
    display: flex;
    flex-direction: $dir;
    @if ($dir == row) {
        justify-content: $just;
        align-items: $align;
    } @else {
        justify-content: $align;
        align-items: $just;
    }
}

* {
    font-family: "Lato", sans-serif;
}

body {
    background-color: $body-background;
    margin: 0%;
}

.container {
    @include flex(center, center);
    height: 100vh;
    // padding: .5rem 0rem 1rem;
}

.watch__container {
    background-color: $watch-container-background;
    width: 24rem;
    padding: 2rem 1rem 1rem;
    border-radius: 2rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    header {
        font-size: 2rem;
        font-weight: 600;
        color: rgba(0, 0, 0, 0.7);
        padding: 0rem 2rem 1rem;
    }
}

.timer {
    @include flex(center, center);
    height: 24rem;
    position: relative;

    svg {
        width: 100%;
        height: 100%;
        position: absolute;
    }

    circle {
        fill: none;
        stroke-width: 15;
        stroke-dasharray: 3;
        stroke: rgba($color: #000000, $alpha: 0.2);
    }

    #__timer {
        position: absolute;
        font-size: 2.5rem;
    }
}

.outer {
    height: 20rem;
    width: 20em;
    border-radius: 50%;

    box-shadow: 13px 11px 17px 9px rgba($color: #000000, $alpha: 0.1),
        -6px -6px 17px 17px rgba($color: #ffffff, $alpha: 0.6);
    //    box-shadow: 6px 6px 10px -1px rgba($color: #000000, $alpha: 0.4),
    //    -6px -6px 10px 3px rgba($color: #ffffff, $alpha: .7);
}

.buttons {
    @include flex(space-around, center, row);

    button {
        background: inherit;
        width: 9rem;

        font-size: 1rem;
        font-weight: 600;

        padding: 0.6rem 3rem;
        border: none;
        outline: none;
        border-radius: 0.7rem;

        line-height: 1.6rem;
        letter-spacing: 0.05rem;

        // transition: transform .1s;

        box-shadow: 6px 6px 9px 2px rgba($color: #000000, $alpha: 0.15),
            -3px -3px 9px 1px rgba($color: #ffffff, $alpha: 0.8);
    }

    :nth-child(2) {
        color: red;
    }
    :hover {
        cursor: pointer;
    }

    :active {
        box-shadow: $buttonActiveShadowEff;
        transform: translateY(2px);
    }
}

.lap--container {
    height: 12.5rem;
    margin-top: 1rem;
    padding: 0rem 1.5rem;
    overflow-y: scroll;

    div {
        @include flex(space-between, center);
        margin: 1rem 0rem;
        padding: 1.2rem 1rem;
        border-radius: 1rem;

        box-shadow: 6px 6px 22px -5px rgba($color: #000000, $alpha: 0.3),
            -2px -1px 6px 5px rgba($color: #ffffff, $alpha: 0.8);
    }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.lap--container::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.lap--container {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
