* {
    margin: 0%;
    color: white;
    // font-size: 1.2rem;
}
.container {
    background: url(images/1062_15.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
}

.right {
    float: right;
    color: white;

    img {
        // color: white;
        max-width: 1.5rem;
        filter: invert(1);
    }
}

.status {
    margin-left: 2rem;
}

.detail--icons {
    display: flex;
    // background: red;

    img {
        margin-right: 0.5rem;
    }
}

.place--name {
    // background: red;
    position: absolute;
    bottom: 45vh;
    width: 20vw;
}

.weather {
    background: #0000002b;
    display: flex;
    position: absolute;
    bottom: 20vh;
    width: 100%;
    justify-content: space-around;

    div {
        margin: 0.5rem 1rem;
        font-size: 1.2rem;
        // background: hotpink;
        padding: 0.5rem 1rem;
        display: flex;
        flex-direction: column;
        /* flex: 1; */
        justify-content: center;
        align-items: center;
    }

    label {
        font-size: 0.8rem;
    }
    img {
        max-width: 100%;
    }
}

.place--name {
    font-size: 2rem;
}
