:root{
    --nav-color : #aa88ff;
}
body{
    margin: 0%;
    padding: 0%;
}

nav ul{
    margin: 0%;
}

nav{
    background: var(--nav-color);
    padding: .5rem; 
    color: white;

    display: flex;
    align-items: center;

    position: sticky;
    top: 0;
}

nav li{
    display: inline;
    margin-left: .7rem;
    font-size: 1rem;    
}

.parallax{
    background: url('./images/sigmund-Im_cQ6hQo10-unsplash.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 60vh;
}

h2{
    text-align: center;
}

.courses{
    display: flex;
    margin: 10rem;    
}

.card{
    border: 2px solid #8c6bcf ;
    flex: 1;
    margin: 1rem;
    padding: 2rem;
    text-align: center;
    line-height: 1.6rem;    
    /* word-break: break-all; */
}
.course__img{
    display: flex;
    justify-content: center;
    height: 9rem;
}

.course__img img{
    max-width: 100%;
}
.card__title{
    display: flex;
    justify-content: center ;        
    font-size: 1.3rem;
    margin-top: 8rem;
}

.card__content{
    margin-top: 1rem;
}

.card__content button{
    font-size: 1rem;
    padding: .8rem 2rem;
    background: #8c6bcf;
    color: white;
    border-radius: .5rem;
    outline: none;
    border: none;
}

@media  all and (max-width : 1200px) {
    .courses{
        flex-wrap: wrap;
    }
    
}

@media screen and (max-width : 700px) {
    .courses{
        margin: 5vw ;
    }
    
    .card__title{
        margin-top: 4rem;
    }
}