.container{
    /* background: red; */
    padding: 3rem;    
    display: flex;
    align-items: center;
    position: relative;
    flex-direction: column;
}

#pin{
    margin-top: 3rem;    
}
.screen{
    background: url('images/lachlan-dempsey-Il_o9sb00QA-unsplash.jpg');        
    background-size: cover;
    background-repeat: no-repeat;

    width: 20rem;        
    /* padding:0rem 3rem;     */
    filter: blur(1.6px);
    position: relative;
    height: 33rem;
    box-shadow: 1px 6px 30px 3px;
    /* transition: all 11s;     */
}
.lock__screen{
    position: absolute;
    height: 0rem; 
    top: -40%;    
    visibility: hidden;
    transition: all 0.5s;    
    display: flex;
    flex-direction: column;
    align-items: center;
    filter: drop-shadow(2px 4px 6px black);
    /* z-index: -1; */
}

.lock__screen.active{    
    top: 3rem;
    height: 33rem;
    visibility: visible;
    z-index: 1;
}




.lock-screen_info{
    color: white;    
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;    
    /* background-color: aqua;     */
    padding: 1rem;
}
.lock-screen_info > *{
    margin-bottom: .5rem;
}
.screen__input{
    text-align: center;
    margin: 3rem 0rem 2rem;
    border-bottom: 3px solid black; 
    color: white;    
}

.screen__input input{    
    background: transparent;
    color: white;

    border: none;
    outline: none;   

    padding: .5rem 1rem;
    width: 11rem;
          
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
}

.screen__input label{
        background-color: black;
        padding: .2rem .5rem;        
        border-radius: .5rem;
}

[type = 'text']::placeholder {    
    color: white;
    font-size: 1rem;
    opacity: 1; /* Firefox */
  }
  
[type = 'text']:-ms-input-placeholder { /* Internet Explorer 10-11 */

   color: white;
  }
  
[type = 'text']::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
  }


.screen__btns{
    /* background: lightyellow;     */
    width: 20rem;    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.btn{
    background: yellow;    
    margin: 0.5rem;
    padding: 0.6rem 2rem;
    border-radius: 50%;
    cursor: pointer;    
}

.btn:hover{
    filter: drop-shadow(2px 4px 6px black);      
}
.btn:active{
    filter: drop-shadow(2px 4px 6px red);
    background: blue;
    color: white;
    font-weight: 600;
    transition: all .1s;
}
#cancel{
    margin-left: 15rem;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
}

.unlocked__screen{
    display: none;    
    position: absolute;
    color: white;
    margin-top: 13rem;
    text-align: center;    
}

.unlocked__screen label{
    font-size: 1.2rem;
}